---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import SecondSection from "../components/SecondSection.astro";
import ThirdSection from "../components/ThirdSection.astro";
---
<Layout>
  <HeroSection />
  <!-- Sección de características -->
  <SecondSection />
  <!-- Formulario -->
   <ThirdSection />

  <section id="form" class="py-16 bg-gray-100">
    <div class="container mx-auto">
      <h2 class="text-2xl font-bold text-center mb-8">Únete a nuestra lista de espera</h2>
      <form action="#" method="POST" class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-md">
        <div class="mb-4">
          <label for="email" class="block text-gray-700">Correo electrónico:</label>
          <input type="email" id="email" name="email" class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:border-purple-600" placeholder="Tu correo" required>
        </div>
        <button type="submit" class="w-full bg-purple-600 text-white py-3 rounded-lg font-semibold hover:bg-purple-700">Unirme</button>
      </form>
    </div>
  </section>
</Layout>
