---
import Item from "./Item.astro";
---

<section
  id="features"
  class="flex relative bg-cover bg-center min-h-screen w-full py-16 text-miyo-primary md:justify-end justify-center"
  style="background-image: url('/s3.webp'); "
>
  <div
    class="flex flex-col gap-4 items-center justify-center lg:w-2/5 text-center md:mx-20 h-full"
  >
    <h1 class="md:text-6xl text-3xl font-bold mb-8">
      ¿Por qué Miyo es para ti?
    </h1>
    <p class="md:text-xl text-base">
      Plataforma de microaprendizaje a través de podcasts
    </p>
    <div class="flex flex-wrap gap-10 justify-center p-2">
      <Item image="/SecondSection/ubi.webp" text="Rutas de aprendizaje" />
      <Item
        image="/SecondSection/watch.webp"
        text="Microlecciones en minutos"
      />
      <Item image="/SecondSection/audifonos.svg" text="Aprendizaje auditivo" />
      <Item image="/SecondSection/paper.webp" text="Contenido de calidad" />
      <Item image="/SecondSection/ping.svg" text="Logros y recompensas" />
      <Item image="/SecondSection/wiffi.svg" text="Acceso sin limites" />
    </div>
    <a
      href="#form"
      class="px-6 py-1 bg-miyo-primary rounded-full text-white text-center font-semibold hover:bg-miyo-primary text-2xl w-80 my-10"
      >Unirme</a
    >
  </div>
</section>
