---

---

<div class="overflow-hidden">
  <h1
    class="text-5xl text-center text-miyo-primary leading-relaxed mx-auto font-medium mb-32 mt-20 max-w-[800px]"
  >
    Descubre cómo Miyo puede transformar tu manera de aprender
  </h1>
  <div class="relative">
    <div class="absolute w-full flex justify-around items-center">
      <div class="flex flex-col gap-4 justify-center items-center max-w-[165px] text-center -ml-12">
        <img
          class="w-[135px] h-[135px] rounded-full object-cover object-center"
          width="135px"
          src="/onda.png"
          alt="Ondas de sonido"
        />
        <p>Crecimiento Personal y Productividad</p>
      </div>
      <div class="flex flex-col gap-4 justify-center items-center max-w-[165px] text-center -mb-24 -ml-32">
        <p>Finanzas Personales e Inversiones</p>
        <img
          class="w-[135px] h-[135px] rounded-full object-cover object-center"
          width="135px"
          src="/onda.png"
          alt="Ondas de sonido"
        />
      </div>
      <div class="flex flex-col gap-4 justify-center items-center max-w-[165px] text-center -mb-80 -ml-32">
        <p>Emprendimiento</p>
        <img
          class="w-[135px] h-[135px] rounded-full object-cover object-center"
          width="135px"
          src="/onda.png"
          alt="Ondas de sonido"
        />
      </div>
      <div class="flex flex-col gap-4 justify-center items-center max-w-[165px] text-center">
        <img
          class="w-[135px] h-[135px] rounded-full object-cover object-center"
          width="135px"
          src="/onda.png"
          alt="Ondas de sonido"
        />
        <p>Salud y Bienestar</p>
      </div>
      <div class="flex flex-col gap-4 justify-center items-center max-w-[165px] text-center">
        <img
          class="w-[135px] h-[135px] rounded-full object-cover object-center"
          width="135px"
          src="/onda.png"
          alt="Ondas de sonido"
        />
        <p>Deportes</p>
      </div>
    </div>

    <img class="-mb-[21%]" src="/onda.png" alt="Ondas de sonido" />
  </div>
</div>
