---

---

<div class="overflow-hidden min-h-screen relative">
  <!-- Sección para desktop -->
  <div class="hidden lg:block px-12">
    <h1
      class="text-5xl text-center text-miyo-primary leading-relaxed mx-auto font-bold mb-32 mt-20 max-w-[800px]"
    >
      Descubre cómo Miyo puede transformar tu manera de aprender
    </h1>
    <div class="relative border border-black">
      <div class="absolute w-full flex justify-around items-center">
        <div
          class="flex flex-col gap-4 justify-center items-center max-w-[140px] font-bold text-miyo-primary text-center -ml-20"
        >
          <img
            class="w-[135px] h-[135px] rounded-full object-cover object-center"
            src="/FourthSection/person.webp"
            alt="Ondas de sonido"
          />
          <p>Crecimiento Personal y Productividad</p>
        </div>
        <div
          class="flex flex-col gap-4 justify-center items-center max-w-[165px] font-bold text-miyo-primary text-center -mb-20 -ml-16"
        >
          <p>Finanzas Personales e Inversiones</p>
          <img
            class="w-[135px] h-[135px] rounded-full object-cover object-center"
            src="/FourthSection/dolar.webp"
            alt="Ondas de sonido"
          />
        </div>
        <div
          class="flex flex-col gap-4 justify-center items-center max-w-[165px] font-bold text-miyo-primary text-center -mb-56 -ml-28"
        >
          <p>Emprendimiento</p>
          <img
            class="w-[135px] h-[135px] rounded-full object-cover object-center"
            src="/FourthSection/person2.jpg"
            alt="Ondas de sonido"
          />
        </div>
        <div
          class="flex flex-col border border-black gap-4 justify-center items-center max-w-[165px] font-bold text-miyo-primary text-center"
        >
          <img
            class="w-[135px] h-[135px] rounded-full object-cover object-center"
            src="/FourthSection/salud.webp"
            alt="Ondas de sonido"
          />
          <p>Salud y Bienestar</p>
        </div>
        <div
          class="flex flex-col gap-4 justify-center items-center max-w-[165px] font-bold text-miyo-primary text-center mr-24 -mt-40"
        >
          <img
            class="w-[135px] h-[135px] rounded-full object-cover object-center"
            src="/FourthSection/ejercicio.webp"
            alt="Ondas de sonido"
          />
          <p>Deportes</p>
        </div>
      </div>
      <img class="-mb-[21%]" src="/onda.png" alt="Ondas de sonido" />
    </div>
  </div>

  
