---
import ButtonHero from "./ButtonHero.astro";
---
<header class="bg-transparent text-white p-4 absolute w-full hidden md:flex ">
    <div class="container mx-auto flex justify-between items-center">
      <a href="/" class="text-xl font-bold">
        <img src="/icon.webp" alt="Logo Miyo" class="h-8">
    </a>
    </div>
  </header>
  