---
---
<section class="bg-cover bg-center flex md:justify-end justify-start pl-4 md:pl-0" style="background-image: url('/s2.webp'); height: 100vh; background-position: start;">
    <div class="flex flex-col md:justify-center items-center text-white h-full md:w-[400px] md:mx-20  w-full justify-between pt-[100px] pb-[50px]">
        <div class="flex flex-col md:items-center items-end w-full pr-10 md:pr-0">
            <div class="flex flex-col gap-10 w-[120px] md:w-full">
                <h1 class="text-center md:text-6xl font-bold mb-4 text-lg">Para quienes aman escuchar y aprender en movimiento</h1>
                <p class="md:text-xl mb-6 text-[14px] text-center">Únete a nuestra lista de espera</p>
            </div>
        </div>
      <a href="#form" class="px-6 py-1 bg-miyo-primary rounded-full text-white text-center font-semibold hover:bg-miyo-primary w-2/3 text-2xl ">Unirme</a>
    </div>
  </section>
  