---

---

<section class="w-screen flex h-screen bg-[#5D16E9] justify-between flex-col items-center p-10">

    <h1 class="text-white text-6xl font-bold mb-12 w-full my-12">¿Cómo funciona?</h1>
  
    
    <div class="flex flex-1  h-4/5 relative p-5 ">
        <div class="w-2/5 hidden md:block">
            <img src="/SecondSection/ruta.png" alt="Miyo" class=" w-[70%] h-[70%]"/>
        </div>
        <div class="md:w-3/5 ">
            <video loop autoplay muted src="/0124.mov"></video>
        </div>
        
    </div>

   
    <a href="#form" class="px-6 py-1 bg-white rounded-full text-trasnparent text-center font-semibold  text-2xl w-80 my-40 ">Unirme</a>
     
    
</section>