---
---
<section class="bg-miyo-primary text-white min-h-screen flex flex-col justify-center items-center py-5">
  <h1 class="text-6xl font-bold mb-6 text-center">Únete a nuestra lista de espera</h1>
  <p class="text-2xl mb-8 text-center">
    Sé uno de los primeros en tener acceso exclusivo a <span class="font-semibold">Miyo</span>
  </p>
  <button class="bg-white text-miyo-primary font-medium py-4 px-12 rounded-full hover:bg-gray-200 text-xl">
    Unirme
  </button>
  <div class="mt-12 w-64">
    <img src="/gift.gif" alt="Waveform" class="w-full" />
  </div>
  <img src="/icon.webp" alt="Logo Miyo" class="h-12 mt-8">
</section>
